<div class="container">
  <div class="text-center" *ngIf="!retrievedData">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="retrievedData">
    <div class="row mb-3 form-horizontal">
      <div class="accordion accordion--custom" id="accordionPanelsStayOpenExample">
        <div class="accordion-item" *ngFor="let workshopCollection of workshopCollections; index as j;">
          <h2 class="accordion-header sticky-top" id="panel-heading{{workshopCollection.publishedFileId}}">
            <input type="checkbox"
                   class="form-check-input"
                   [disabled]="!workshopCollection.optional"
                   [checked]="getNumberOfEnabledItems(workshopCollection) === workshopCollection.items.length"
                   [indeterminate]="getNumberOfEnabledItems(workshopCollection) > 0 && getNumberOfEnabledItems(workshopCollection) < workshopCollection.items.length"
                   (change)="toggleItems($event, workshopCollection)"/>
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    [ngClass]="workshopCollection.optional ? 'collapsed' : ''"
                    [attr.data-bs-target]="'#panel-collapse' + workshopCollection.publishedFileId"
                    [attr.aria-expanded]="!workshopCollection.optional"
                    [attr.aria-controls]="'panel-collapse' + workshopCollection.publishedFileId">
              {{workshopCollection.name}} - {{getNumberOfEnabledItems(workshopCollection)}}
              of {{workshopCollection.items.length}} selected <span
              *ngIf="getSizeOfEnabledItems(workshopCollection) > 0">&nbsp;(<app-file-size
              [sizeBytes]="getSizeOfEnabledItems(workshopCollection)"></app-file-size>)</span>
            </button>
          </h2>
          <div id="panel-collapse{{workshopCollection.publishedFileId}}" class="accordion-collapse collapse"
               [ngClass]="workshopCollection.optional ? '' : 'show'"
               [attr.aria-labelledby]="'panel-heading'+workshopCollection.publishedFileId">
            <div class="accordion-body">
              <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col"
                     *ngFor="let workshopItem of getSortedWorkshopItems(workshopCollection); index as i">
                  <app-workshop-card
                    [canBeToggled]="workshopCollection.optional"
                    [workshopCollectionId]="workshopCollection.publishedFileId"
                    [workshopItem]="workshopItem"></app-workshop-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
        <button type="button" class="btn btn-primary mx-1" [disabled]="isGeneratingPreset || getTotalSize == 0" (click)="downloadPreset()" title="Downloads a HTML file that can be imported in the Arma 3 Launcher via the Mods, Import tab.">
          Download preset
          <span *ngIf="getTotalSize > 0">
            <small>
              - (<app-file-size [sizeBytes]="getTotalSize"></app-file-size>)
            </small>
          </span>
        </button>
      </div>
    </div>
  </div>

</div>

