<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand d-inline-block text-truncate" [routerLink]="['/']">Arma Preset Creator - by ColinM</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <select class="form-select" aria-label="Default select example" (change)="onThemeChange()" [(ngModel)]="selected_theme">
            <option *ngFor="let theme of themes" [value]="theme.toLowerCase()">{{theme}}</option>
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ColinM9991/Arma-Preset-Creator">Source Code</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container py-4">
  <article role="main" class="container">
    <div class="p-5 mb-4 rounded-3">
      <img class="mx-auto d-block img-fluid" src="../../assets/logo.png" alt="Logo"/>
    </div>
  </article>
  <div class="container">
    <router-outlet></router-outlet>
    <section class="mt-4">
      <app-info></app-info>
    </section>
  </div>
</div>

<footer class="pt-3 mt-4 text-muted border-top">
  <div class="container">
    © {{ date | date:'YYYY' }} ColinM
  </div>
</footer>
