<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <span class="navbar-brand" href="#">Arma Preset Creator - by ColinM</span>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/ColinM9991/Arma-Preset-Creator">Source Code</a>
    </li>
  </ul>
</nav>
<main role="main" class="container">
  <div class="jumbotron">
    <div class="form-group text-center">
      <img class="mx-auto d-block img-fluid" src="../../assets/logo.png" alt="Logo" />
    </div>
    <router-outlet></router-outlet>
    <hr/>
    <div class="form-horizontal">
      <div class="form-group">
        <p class="text-center mx-auto d-block">
          Hosting costs £3 per month which is very cheap. If you'd like to donate to support the running costs you can do so via PayPal.<br/>
          This tool will always remain free, will never run ads and donating is completely optional.<br/>
          Thank you for your continued support.
        </p>
      </div>
      <div class="form-group">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6ERYEWU8G2W9Q"
          class="btn btn-info mx-auto d-block" style="width:7%">Donate</a>
      </div>
    </div>
  </div>
</main>
