@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

$spinner-width: 10em;

.spinner-border {
  width: $spinner-width;
  height: $spinner-width;
  border: 0.35em solid currentColor;
  border-right-color: transparent;
}

:root {
   --apc-accordion-background: #ffffff;
 }

[data-bs-theme="dark"] {
  --bs-body-bg: #151a30;
  --bs-secondary-color: #ffffff;
  --apc-accordion-background: #151a30;
}
