@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

$spinner-width: 10em;

.spinner-border {
  width: $spinner-width;
  height: $spinner-width;
  border: 0.35em solid currentColor;
  border-right-color: transparent;
}
